# Ambiente virtual
venv/
.env/

# Cache do Python
__pycache__/
*.pyc

# Modelos treinados
*.pkl
*.joblib

# Logs
*.log

# Dados gerados automaticamente
data/
datasets/

# IDE
.vscode/
.idea/

# Sistema
Thumbs.db
.DS_Store
